<!DOCTYPE HTML>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/sections.css}" rel="stylesheet"/>
</head>
<body>
<div><a th:href="@{'/route/details/' + ${currentIndex+1}}">Następny</a></div>
<div><a th:href="@{'/route/details/' + ${currentIndex-1}}">Poprzedni</a></div>

<p>Lokalizacja początkowa: <div th:text="${startLocation}"></div> </p>
<p>Lokalizacja końcowa: <div th:text="${finishLocation}"></div> </p>

<table>
    <tr>
        <th></th>
        <th>Pasmo górskie</th>
        <th>Grupa górska</th>
        <th>Lokalizacja pierwsza</th>
        <th>Lokalizacja druga</th>
        <th>Punkty</th>
    </tr>
    <tr th:each="section : ${pathSections.sections}">
        <td th:text="${section.getFirst()}"></td>
        <!--<td th:text="${currentIndex}"></td>-->
        <td th:text="${section.getSecond().getMountainGroup().getMountainRange().getName()}"></td>
        <td th:text="${section.getSecond().getMountainGroup().getName()}"></td>
        <td th:text="${section.getSecond().getLocationOne().getName()}"></td>
        <td th:text="${section.getSecond().getLocationTwo().getName()}"></td>
        <td th:text="${section.getSecond().getPointsAltitude() + '/'
                            + section.getSecond().getPointsDistance()}"></td>
    </tr>
</table>

<p>
<div>
    <label>Punkty za wysokość:
        <div th:text="${pathSections.altitudePoints}"></div>
    </label>
</div>
<div>
    <label>Punkty za odległość:
        <div th:text="${pathSections.distancePoints}"></div>
    </label>
</div>
</p>

<!--<p>-->
<!--<div>-->
    <!--<a href="/route/details">Zamknij</a>-->
<!--</div>-->
<!--</p>-->

<p>
    <!--<a href="../home.html" th:href="@{/}">Return to home</a>-->
</p>
</body>
</html>