<!DOCTYPE HTML>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            $("#remove_checked").click(function (e) {
                e.preventDefault();
                var $form = $(this);
                var url = $form.attr("href");
                console.log(url);
                var sectionsToDelete = [];
                $.each($("input[name='section_checkbox']:checked"), function () {
                    sectionsToDelete.push($(this).val());
                });

                var posting = $.post({
                    url: url,
                    data: JSON.stringify(sectionsToDelete),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, status, jq) {
                        console.log("success");
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            $('table#sections_table tr#'+data[i]).remove();
                        }
                        // $("#sections_table > tr > td").each(function () {
                        //     console.log(this.val());
                        // })
                    }
                });


                console.log("submit form");
            });
        });


        var are_checked = false;

        function updateCheckboxInSectionList() {
            var regex = new RegExp("section_checkbox");
            var checkboxes = document.getElementsByTagName("input");
            for (var i = 0; i < checkboxes.length; i++) {
                if (regex.test(checkboxes[i].name)) {
                    checkboxes[i].checked = !are_checked;
                }
            }
            are_checked = !are_checked;
        }

        /*]]>*/
    </script>

</head>
<body>
<p class="header">
    <img class="header" src="../static/images/pttk_logo.jpg"
         th:src="@{/images/pttk_logo.jpg}" width="100" alt="Logo Pttk">
    Zarządzanie odcinkami punktowanymi do GOT
</p>

<a href="/sections/addSectionForm" class="button_green">Dodaj odcinek</a>
<a href="/sections/filterSectionsForm" class="button_grey">Wyszukaj</a>

<table id="sections_table" class="section_table">
    <tr>
        <th><input id="mark_all" type="checkbox" title="" onchange="updateCheckboxInSectionList();"></th>
        <th>Pasmo górskie</th>
        <th>Grupa górska</th>
        <th>Lokalizacja pierwsza</th>
        <th>Lokalizacja druga</th>
        <th>Punkty</th>
        <th></th>
    </tr>
    <th:block th:each="section : ${sections}">
        <tr th:id="${section.getId()}">
            <td style="text-align: center;">
                <input th:name="section_checkbox"
                       type="checkbox" title=""
                       th:value="${section.getId()}">
            </td>
            <td th:text="${section.mountainGroup.getName()}"></td>
            <td th:text="${section.mountainGroup.getMountainRange().getName()}"></td>
            <td th:text="${section.getLocationOne().getName()}"></td>
            <td th:text="${section.getLocationTwo().getName()}"></td>
            <td class="number" th:text="${section.getPointsAltitude() + '/' + section.getPointsDistance()}"></td>
            <td>
                <a th:href="@{/sections/details/} + ${section.getId()}" class="table_button">Wyświetl</a>
                <a th:href="@{/sections/edit/} + ${section.getId()}" class="table_button">Edytuj</a>
                <a th:href="@{/sections/remove/} + ${section.getId()}">
                    <img src="../static/images/remove_symbol.jpg"
                         th:src="@{/images/remove_symbol.jpg}" width=20 alt="Remove symbol">
                </a>
            </td>
        </tr>
    </th:block>
</table>

<a id="remove_checked" href="/sections/removeAll" class="button_grey">Usuń zaznaczone</a>

<p>
    <!--<a href="../home.html" th:href="@{/}">Return to home</a>-->
</p>
</body>
</html>