<!DOCTYPE HTML>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>

    <script>
        /*<![CDATA[*/
        var mountainRanges = null;
        var mountainGroups = null;
        var data = [];

        function changeMountainRangesListener() {
            var mountainRangesSelector = $("#mountainRangesSelectList");
            var mountainGroupsSelector = $("#mountainGroupsSelectList");

            mountainGroupsSelector.find('option')
                .remove()
                .end();

            var option = new Option("", "", true, true);
            mountainGroupsSelector.append(option);

            length = data.length;
            for (i = 0; i < length; i++) {
                console.log(data[i].mountainRange.id);
                console.log(mountainRangesSelector.val());
                if (data[i].mountainRange.id == mountainRangesSelector.val()) {
                    console.log("aaaadddd");
                    option = new Option(data[i].name, data[i].id, false, false);
                    mountainGroupsSelector.append(option);
                }
            }
        }

        /*]]>*/
    </script>

    <script th:each="item:${mountainGroups}" th:inline="javascript">
        data.push([[${item}]]);
    </script>


</head>
<body>

<script>
    /*<![CDATA[*/
    mountainRanges = "[[${mountainRanges}]]";
    mountainGroups = "[[${mountainGroups}]]";
    console.log(mountainRanges);
    console.log(mountainGroups);
    /*]]>*/
</script>

<p class="header">
    <img class="header" src="../static/images/pttk_logo.jpg" th:src="@{/images/pttk_logo.jpg}" width="100" alt="Logo Pttk">
    Edytuj odcinek punktowany do GOT
    <a style="float: right;" href="/sections/" class="button_grey">Anuluj</a>
</p>

<form action="#" th:action="@{/sections/edit/save/{id}(id=${section.getId()})}" method="post">
    <table class="sections_details">
        <tr>
            <td class="align_right">Pasmo górskie:</td>
            <td>
                <select class="select_section_param" id="mountainRangesSelectList" name="mountainRange"
                        onchange="changeMountainRangesListener();">
                    <option th:each="mr : ${mountainRanges}"
                            th:value="${mr}"
                            th:text="${mr.getName()}"
                            th:selected="${mr.getId()==section.getMountainGroup().getMountainRange().getId()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="align_right">Grupa górskie:</td>
            <td>
                <select name="mountainGroup">
                    <th:block th:each="mg : ${mountainGroups}">
                    <option th:if="${mg.getMountainRange().getId()==section.getMountainGroup().getMountainRange().getId()}"
                            th:value="${mg.getId()}"
                            th:text="${mg.getName()}"
                            th:selected="${mg.getId()==section.getMountainGroup().getId()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td class="align_right">Lokalizacja pierwsza:</td>
            <td>
                <select name="locationOne">
                    <option th:each="l : ${locations}"
                            th:value="${l.getId()}"
                            th:text="${l.getName()}"
                            th:selected="${l.getId()==section.getLocationOne().getId()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="align_right">Lokalizacja druga:</td>
            <td>
                <select name="locationTwo">
                    <option th:each="l : ${locations}"
                            th:value="${l.getId()}" th:text="${l.getName()}"
                            th:selected="${l.getId()==section.getLocationTwo().getId()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="align_right">Odległość:</td>
            <td>
                <input name="distance" type="number" th:value="${section.getDistance()}">
            </td>
        </tr>
        <tr>
            <td class="align_right">Punkty za wysokość:</td>
            <td>
                <select name="pointsAltitude">
                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"
                            th:selected="${i==section.getPointsAltitude()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="align_right">Punkty za odległość:</td>
            <td>
                <select name="pointsDistance">
                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"
                            th:selected="${i==section.getPointsDistance()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input class="select_section_param" type="submit" value="Zapisz">
            </td>
        </tr>
    </table>
    <!--<input type="submit" value="Zapisz"-->
        <!--style="padding: 10px;float: right">-->
</form>

</body>
</html>