<!DOCTYPE HTML>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        /*<![CDATA[*/
        $(document).ready(function () {
            $("#remove_checked").click(function (e) {
                e.preventDefault();
                var $form = $(this);
                var url = $form.attr("href");
                console.log(url);
                var sectionsToDelete = [];
                $.each($("input[name='section_checkbox']:checked"), function () {
                    sectionsToDelete.push($(this).val());
                });


                $("#dialog-message").html("Czy usunąć wszystie zaznaczone odcinki?");
                var dialog = $("#dialog-message").dialog({
                    autoOpen: false,
                    buttons: {
                        "ok": function () {
                            $(this).dialog("close");
                            accept_deletion(sectionsToDelete, url);
                        },
                        "cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                dialog.dialog("open");

                console.log("submit form");
            });
        });

        function accept_deletion(sectionsToDelete, url) {

            var posting = $.post({
                url: url,
                data: JSON.stringify(sectionsToDelete),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data, status, jq) {
                    console.log("success");
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        $('table#sections_table tr#' + data[i]).remove();
                    }
                    $("#dialog-message").html("Wskazane odcinki zostały usunięte");
                    var dialog = $("#dialog-message").dialog({
                        autoOpen: false,
                        buttons: {
                            "ok": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    dialog.dialog("open");
                }
            });
        }

        function warningRemoveSection(url, loc1, loc2) {
            console.log(url);
            console.log(loc1);
            console.log(loc2);
            $("#dialog-message").html("Czy usunąć odcinek z " + loc1 + " do " + loc2 + "?");
            var dialog = $("#dialog-message").dialog({
                autoOpen: false,
                buttons: {
                    "ok": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            dialog.dialog("open");

        }


        var are_checked = false;

        function updateCheckboxInSectionList() {
            var regex = new RegExp("section_checkbox");
            var checkboxes = document.getElementsByTagName("input");
            for (var i = 0; i < checkboxes.length; i++) {
                if (regex.test(checkboxes[i].name)) {
                    checkboxes[i].checked = !are_checked;
                }
            }
            are_checked = !are_checked;
        }

        /*]]>*/
    </script>

</head>
<body>
<div id="dialog-message" title="Ostrzeżenie">

</div>

<p class="header">
    <img class="header" src="../static/images/pttk_logo.jpg"
         th:src="@{/images/pttk_logo.jpg}" width="100" alt="Logo Pttk">
    <span>Zarządzanie odcinkami punktowanymi do GOT</span>
    <a style="float: right;" href="/" class="button_grey">Zakończ</a>
</p>

<a style="float: right;" href="/sections/addSectionForm" class="button_green">Dodaj odcinek</a>
<a href="/sections/filterSectionsForm" class="button_grey">Wyszukaj</a>

<table id="sections_table" class="section_table">
    <tr>
        <th><input id="mark_all" type="checkbox" title="" onchange="updateCheckboxInSectionList();"></th>
        <th>Pasmo górskie</th>
        <th>Grupa górska</th>
        <th>Lokalizacja pierwsza</th>
        <th>Lokalizacja druga</th>
        <th>Punkty</th>
        <th></th>
    </tr>
    <th:block th:each="section : ${sections}">
        <tr th:id="${section.getId()}">
            <td style="text-align: center;">
                <input th:name="section_checkbox"
                       type="checkbox" title=""
                       th:value="${section.getId()}">
            </td>
            <td th:text="${section.mountainGroup.getMountainRange().getName()}"></td>
            <td th:text="${section.mountainGroup.getName()}"></td>
            <td th:text="${section.getLocationOne().getName()}"></td>
            <td th:text="${section.getLocationTwo().getName()}"></td>
            <td class="number" th:text="${section.getPointsAltitude() + '/' + section.getPointsDistance()}"></td>
            <td>
                <a th:href="@{/sections/details/} + ${section.getId()}" class="table_button">Wyświetl</a>
                <a th:href="@{/sections/edit/} + ${section.getId()}" class="table_button">Edytuj</a>
                <a href="#" th:onclick="|warningRemoveSection('@{/sections/remove/}${section.getId()}',
                                            '${section.getLocationOne().getName()}', '${section.getLocationTwo().getName()}')|">
                    <img src="../static/images/remove_symbol.jpg"
                         th:src="@{/images/remove_symbol.jpg}" width=20 alt="Remove symbol">
                </a>
            </td>
        </tr>
    </th:block>
</table>

<a id="remove_checked" href="/sections/removeAll" class="button_grey">Usuń zaznaczone</a>

<p>
    <!--<a href="../home.html" th:href="@{/}">Return to home</a>-->
</p>
</body>
</html>