p.header{
    font-size: 2em;
    border-bottom: 1px solid black;
    text-align: center;
    overflow: auto;
    bottom: 10px;
}

p.header img.header{
    float:left;
    padding: 10px;
}

table.section_table {
    border-collapse: collapse;
    table-layout: auto;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}

table.section_table td{
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px;
}

table.section_table td.number{
    text-align: right;
}


a.table_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 7px;
    border-spacing: 5px;
}

a.button_green {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: forestgreen;
    text-decoration: none;
    color: initial;
    padding: 7px;
    border-spacing: 5px;
}

a.button_grey {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 7px;
    border-spacing: 5px;
}

td.align_left{
    text-align: left;
    vertical-align: bottom;
    font-size: 1.6em;
}

td.align_right{
    text-align: right;
    vertical-align: bottom;
    font-size: 1.3em;
}

table.sections_details{
    padding: 20px;
    border-spacing: 10px 20px ;
}